/* HEADER */
header {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/27561782167757.5d15025ebd5ab.jpg);
  background-repeat: no-repeat;

  width: 1366px;
  height: 365px;

  background-size: cover;

  display: grid;
  grid-template-columns: 15% 30% 1fr 15%;
  grid-template-rows: 50px repeat( 3, 1fr);

  font-family: sans-serif;

}

.menu {
  grid-column: 2 /4;
  grid-row: 1 / 2;

  display:flex;
  justify-content: space-between;
  align-items: center;

  background-color: pink;

  
}
.menu__Logotipo {
}
.menu__barraMenu {
  display: grid;
  grid-template-columns:repeat(3,auto);
  grid-column-gap: 30px;
}
.menu__barraMenu__gallery {
}
.menu__barraMenu__contact {
}
.menu__barraMenu__about {
}
.menu__telefono {
}
.info { 
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: pink;
  padding-bottom: 10px;

}
.info__titulo {
  margin-top:0;
}
.info__subtitulo {
}
.menu__info__boton {
  
  background-color: orange;
  padding: 20px 10px;
  border-radius:5px;
}
.info__boton {
  
  background-color: orange;
  padding: 10px 40px;
  border-radius:5px;
}